<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/wjkcow/Dropbox/curriculum/2015Winter/EECS381/Projects/EECS381P4/EECS381P4.xcodeproj</string>
</dict>
</plist>
